In [1]:
import httpx
import requests
import pandas as pd

In [2]:
# async with httpx.AsyncClient() as client:
#     overall_data = await client.get('https://fantasy.premierleague.com/api/bootstrap-static/')
overall_data = requests.get('https://fantasy.premierleague.com/api/bootstrap-static/')
overall_data = overall_data.json()

In [11]:
df = pd.DataFrame(overall_data['elements'])

In [13]:
df.index=df['id']
df

,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,element_type,ep_next,...,now_cost_rank,now_cost_rank_type,form_rank,form_rank_type,points_per_game_rank,points_per_game_rank_type,selected_rank,selected_rank_type,starts_per_90,clean_sheets_per_90
id,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,232223,0,0,-1,1,0,4,0.0,...,524,93,546,48,640,66,327,50,0.00,0.00
2,NaN,NaN,58822,0,0,-1,1,0,2,0.5,...,731,230,380,132,505,172,253,99,0.00,0.00
3,0.0,100.0,153256,0,0,-1,1,0,3,0.0,...,496,290,531,189,52,30,457,152,0.00,0.00
4,0.0,0.0,438098,0,0,-1,1,0,3,0.0,...,126,79,740,322,213,95,437,143,0.76,0.38
5,100.0,100.0,226597,0,0,0,0,1,2,5.0,...,197,22,37,7,120,31,18,6,0.98,0.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
749,NaN,NaN,483398,0,0,0,0,0,3,0.0,...,431,251,616,235,689,279,751,317,0.00,0.00
750,NaN,NaN,497606,-1,1,-1,1,0,3,0.0,...,560,315,567,208,654,258,734,307,0.00,0.00
751,0.0,NaN,504750,0,0,0,0,0,2,0.0,...,706,211,476,185,591,217,619,221,0.00,0.00
769,0.0,NaN,432712,0,0,0,0,0,3,0.0,...,403,233,596,220,674,268,766,330,0.00,0.00
770,NaN,NaN,490095,0,0,0,0,0,3,0.0,...,433,253,618,237,691,281,745,313,0.00,0.00

In [8]:
print(df.columns)

Index(['chance_of_playing_next_round', 'chance_of_playing_this_round', 'code',
       'cost_change_event', 'cost_change_event_fall', 'cost_change_start',
       'cost_change_start_fall', 'dreamteam_count', 'element_type', 'ep_next',
       'ep_this', 'event_points', 'first_name', 'form', 'id', 'in_dreamteam',
       'news', 'news_added', 'now_cost', 'photo', 'points_per_game',
       'second_name', 'selected_by_percent', 'special', 'squad_number',
       'status', 'team', 'team_code', 'total_points', 'transfers_in',
       'transfers_in_event', 'transfers_out', 'transfers_out_event',
       'value_form', 'value_season', 'web_name', 'minutes', 'goals_scored',
       'assists', 'clean_sheets', 'goals_conceded', 'own_goals',
       'penalties_saved', 'penalties_missed', 'yellow_cards', 'red_cards',
       'saves', 'bonus', 'bps', 'influence', 'creativity', 'threat',
       'ict_index', 'starts', 'expected_goals', 'expected_assists',
       'expected_goal_involvements', 'expected_goals_conceded',
       'influence_rank', 'influence_rank_type', 'creativity_rank',
       'creativity_rank_type', 'threat_rank', 'threat_rank_type',
       'ict_index_rank', 'ict_index_rank_type',
       'corners_and_indirect_freekicks_order',
       'corners_and_indirect_freekicks_text', 'direct_freekicks_order',
       'direct_freekicks_text', 'penalties_order', 'penalties_text',
       'expected_goals_per_90', 'saves_per_90', 'expected_assists_per_90',
       'expected_goal_involvements_per_90', 'expected_goals_conceded_per_90',
       'goals_conceded_per_90', 'now_cost_rank', 'now_cost_rank_type',
       'form_rank', 'form_rank_type', 'points_per_game_rank',
       'points_per_game_rank_type', 'selected_rank', 'selected_rank_type',
       'starts_per_90', 'clean_sheets_per_90'],
      dtype='object')

In [ ]:
columns_to_remove = ['first_name','photo','news','news_added','second_name','squad_number','web_name',]